@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit&display=swap');

body {
    position: relative; 
    font-family: 'Kanit', sans-serif !important;
    font-size: large;
}


#logo-img {
    width: 250px;
    padding-top: 1%;
}

.nav-item {
    padding-top:2%;
}

nav {
    border-bottom-style: solid;
    border-color: white;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

#home {
    text-align: center;
    padding-top: 7%;
}

#home h4{
    padding-top: 2%;
}

#section2 {
    padding-top: 3%;
    text-align: justify;
}

#section3 {
    padding-top: 3%;
    text-align: justify;
}

#section3 h1{
    text-align: center;
}

#dynamicHeading {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    /* color: #7BD3EA; */
    background: linear-gradient(to right, #f32170, 
    #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent;
    background-clip:border-box;
    -webkit-background-clip: text; 
}

#section4 h1{
    text-align: center;
}

#section5 h1{
    text-align: center;
}

#themeChange{
    text-align: center;
    font-size: 150%;
}

#sun {
    color: #f97316;
}

#moon {
    color: #f97316;
}

#sun:hover {
    opacity: 0.3;
    cursor: pointer;
}

#moon:hover{
    opacity: 0.3;
    cursor: pointer;
}

.pricing {
    border: solid;
    /* border-image: linear-gradient(to right, #D4145A ,#FBB03B);
    border-image: linear-gradient(to right, #662D8C ,#ED1E79); */
    border-image: linear-gradient(to right, #FF512F ,#DD2476);
    border-image-slice: 1;
    padding-top: 3%;
}

.pricing ul{
    list-style: none;
    list-style: square inside url('../imgs/red-check.png');
    margin-left: 0;
    padding-left: 0;
}

.pricing h4{
    text-align: center;
}

.pricingHead {
    text-align: center;
    margin-top: 10%;
}

@media screen and (max-width: 580px) {
    .nav-item{
        display:none;
    }

    #themeChange{
        text-align: center;
        font-size: 150%;
        float: right;
    }

    .pricing {
        border-right-style: solid !important;
    }

    #dynamicHeading {
        height: 70px;
    }
}