    <!-- NavbBar -->
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a href="../index.html"><img id='logo-img' src="../imgs/logo.png"></a>
          <div id="themeChange">
            <i id='moon' class="fa-solid fa-moon" onclick="theme_change()"></i>
            <i id='sun' class="fa-regular fa-lightbulb" onclick="theme_change()"></i>
          </div>  
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#price">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <script src="../js/theme.js"></script>