<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- OG TAGS -->
    <meta name="title" content="NoneeBots: Instagram Automation Bot" />
    <meta name="description" content="We present our intelligent Instagram Automation bot 'InstaOdyssey' to grow your digital presence." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://noneebots.github.io/" />
    <meta property="og:title" content="NoneeBots: Instagram Automation Bot" />
    <meta property="og:description" content="We present our intelligent Instagram Automation bot 'InstaOdyssey' to grow your digital presence." />
    <meta property="og:image" content="../imgs/meta_og_insta.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://noneebots.github.io/" />
    <meta property="twitter:title" content="NoneeBots: Instagram Automation Bot" />
    <meta property="twitter:description" content="We present our intelligent Instagram Automation bot 'InstaOdyssey' to grow your digital presence." />
    <meta property="twitter:image" content="../imgs/meta_og_insta.png" />

    <!-- End OG TAGS -->

    <link rel="apple-touch-icon" sizes="180x180" href="../imgs/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../imgs/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../imgs/favicons/favicon-16x16.png">
    <link rel="manifest" href="../imgs/favicons/site.webmanifest">
    <link rel="mask-icon" href="../imgs/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/instaOdyssey.css">
    
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FontAwesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>InstaOdyssey | NoneeBots</title>
    
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
      $("#headerOuter").load("base_line_header.html");
      $("#footerOuter").load("base_line_footer.html"); 
    });
    </script> 

</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">

    <!-- header -->
    <div id="headerOuter" class="sticky-top"></div>

    <!-- InstaOdyssey -->

    <!-- Premium Product -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <img class="img-fluid" src="../imgs/InstaOdysseyLogo.png">
        </div>
        <div class="col-sm-6">
          <h2>InstaOdyssey</h2>
          <p>
            A premium, customizable solution exclusively crafted for select SMEs. 
            Elevate your Instagram presence with tailored excellence, exclusive access, and seamless integration. 
            Operate discreetly as users remain undisclosed to the public, ensuring your brand maintains an aura of exclusivity. 
            Transform your strategy and stand out from the crowd.
          </p> 
        </div>
      </div>
    </div>

    <!-- Follow and Unfollow -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h2>Follow and Unfollow</h2>
          <p>
            Elevate your SME's Instagram strategy with precision. 
            Our cutting-edge solution intelligently follows organic followers in your niche, 
            engages with SMEs, and strategically unfollows, ensuring sustained growth and visibility.
          </p>
        </div>
        <div class="col-sm-6">
          <img class="img-fluid" src="../imgs/followUnfollow.png" style=" max-width: 350px;">
        </div>
      </div>
    </div>

    <!-- Hashtag targeting -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <img class="img-fluid" src="../imgs/hashTarget.png">
        </div>
        <div class="col-sm-6">
          <h2>Hashtag Targeting</h2>
          <p>
            Maximize outreach with our cutting-edge hashtag targeting feature. 
            Our bot engages authentically with recent users under specified Instagram hashtags,
             expanding your brand's visibility strategically and fostering meaningful connections.
          </p>
        </div>
      </div>
    </div>

    <!-- Location targeting -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h2>Location Targeting</h2>
          <p>
            Enhance local presence with our advanced location targeting feature.
             Our bot strategically engages with organic users associated with specified locations, 
             amplifying brand visibility and cultivating genuine connections within regional communities.
          </p>
        </div>
        <div class="col-sm-6">
          <img class="img-fluid" src="../imgs/locationTarget2.png" style="max-width: 250px;">
        </div>
      </div>
    </div>

    <!-- Targeted Accounts -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <img class="img-fluid" src="../imgs/userTarget.png">
        </div>
        <div class="col-sm-6">
          <h2>Targeted Accounts</h2>
          <p>
            Unlock the power of personalization with Targeted Accounts! 
            Our bot dives into selected Instagram profiles, stimulating engagement with followers. 
            Watch your brand resonate like never before, driving engagement and amplifying your social presence.
          </p>
        </div>
      </div>
    </div>

    <!-- Detecting similar Bots -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h2>Bot Detection</h2>
          <p>
            Empower your platform with Bot Detection! 
            Our intelligent bot utilizes state-of-the-art machine learning to identify and prevent interactions with other bots. 
            Ensure genuine engagement, building trust, and securing a bot-free environment for your users.
          </p>
        </div>
        <div class="col-sm-6">
          <img class="img-fluid" src="../imgs/robot.png">
        </div>
      </div>
    </div>

    <!-- HumanLike Behavior -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <img class="img-fluid" src="../imgs/humanRobot.png">
        </div>
        <div class="col-sm-6">
          <h2>Humanoid Behavior</h2>
          <p>
            Our bot, driven by advanced algorithms, mirrors human usage on Instagram, 
            ensuring seamless, undetectable engagement. Redefine your social strategy with genuine, human-like connections.
          </p>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div id="footerOuter" class="container-fluid"></div>
</body>
</html>